<div class="mt-4 ml-4 mr-4">
    <h3>Create courses</h3>
<form method="POST" action="/courses/store"> 
  <div class="form-group">
    <label for="name">Course name</label>
    <input type="text" name="name" class="form-control" id="name" >
  </div>

  <div class="form-group">
    <label for="des">Course description</label>
    <input type="text" name="des" class="form-control" id="des" >
  </div>

  <div class="form-group">
    <label for="video">Course video ID</label>
    <input type="text" name="video" class="form-control" id="video" >
  </div>
  
  <div class="form-group">
    <label for="level">Course level</label>
    <input type="text" name="level" class="form-control" id="level" >
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>